@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), 
	     url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf"); 
}
body {
  font-family:     Verdana, Geneva, Arial, sans-serif;
  font-size:       small;
}
h1, h2 {
  color:           #cc6600;
  border-bottom:   thin dotted #888888;
}
h1 {
  font-family:     "Emblema One", sans-serif;
  font-size:       220%;
}
h2 {
  font-size:       130%;
  font-weight:     normal;
}
blockquote {
  font-style:      italic;
}
table{
  margin:          0px 20px 0px 20px;
  border:          thin solid black;
  caption-side:    bottom;
  border-collapse: collapse;
}
td,th{
  border:          thin dotted gray;
  padding:         5px;
}
caption{
  font-style:      italic;
  padding-top:     8px;
}
.centerAlign{
  text-align:      center;
}
.rightAlign{
  text-align:      right;
}
th{
  background-color:#cc6600;
}
/* tr:nth-child(odd){
  background-color:#fcba7a;
}                               对于表格中有跨行元素或者跨列元素时，该伪类不是很实用*/
.cellcolor {
  background-color: #fcba7a;
}
table table th{
  background-color: white;
}
li{
  list-style-image: url(images/backpack.gif);
  padding-top:      5px;
  margin-left:      20px;
}